<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/orders.css">

{{#each orderItems}}
<form name="order{{this.id}}" id="order{{this.id}}">
  <div class="order-body col-md-12">
    <div class="order-title d-flex col-md-12">
      <a href="javascript:history.back()">
        <div class="back-icon mr-4">
          <i class="fas fa-arrow-circle-left"></i>
        </div>
      </a>
      Order # {{this.id}}
    </div>
    <div class="order-detail col-md-12">
      <div class="products-address col-md-8">
        {{#each this.items}}
        <div class="product col-md-12">
          <div class="product-name col-md-7">{{this.name}}</div>
          <div class="product-quantity d-flex col-md-2">
            <div class="sign mr-2">
              x
            </div>
            <div class="product-quantity-number">
              {{this.quantity}}
            </div>
          </div>
          <div class="product-price d-flex col-md-3">
            <div class="sign mr-2">
              $
            </div>
            <div class="product-price-number">
              {{this.price}}
            </div>
          </div>
        </div>
        {{/each}}
        <hr class="style-one" />
        <div class="total col-md-12">
          <div class="total-title col-md-7">Total</div>
          <div class="total-quantity col-md-2">x </div>
          <div class="total-price col-md-3"></div>
        </div>

        <div class="address">
          <div class="address-title">Shipping Address</div>
          <div class="name-phone-address col-md-12">
            <div class="name">
              Name: {{this.name}}
            </div>
            <div class="shipping-address">
              Address: {{this.address}}
            </div>
            <div class="phone">
              Phone: {{this.phone}}
            </div>
          </div>

        </div>
      </div>

      <div class="payment-shipping col-md-4">
        <div class="payment-status">
          Payment Status :
          {{#ifCond this.payment_status "0" }}
          Not Paid
          {{/ifCond}}
          {{#ifCond this.payment_status "1" }}
          Paid
          {{/ifCond}}
        </div>
        <div class="shipping-status">
          Shipping Status :
          {{#ifCond this.shipping_status "0" }}
          Not Deliver
          {{/ifCond}}
          {{#ifCond this.shipping_status "1" }}
          Delivered
          {{/ifCond}}
        </div>
        <div class="update-btn">
          {{#ifCond this.payment_status "0" }}
          <button class="btn btn-secondary" onclick="payment()" value="{{this.id}}">
            Payment
          </button>
          <button class="btn btn-secondary" onclick="deleteOrder()" value="{{this.id}}">
            Cancel Order
          </button>
          {{/ifCond}}

          {{#ifCond this.payment_status "1" }}
          <button class="btn btn-secondary" onclick="" value="{{this.id}}">
            Contact Us
          </button>
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>
</form>
{{/each}}

<script>
  window.addEventListener('load', () => {
    const order = document.querySelectorAll('.order-body')
    for (let i = 0; i < order.length; i++) {
      sum(order[i])
    }
  })

  function sum(order) {
    let sumPrice = 0
    let sumQuantity = 0
    const price = order.querySelectorAll('.product-price-number')
    const quantity = order.querySelectorAll('.product-quantity-number')
    const totalPrice = order.querySelector('.total-price')
    const totalQuantity = order.querySelector('.total-quantity')
    for (let i = 0; i < price.length; i++) {
      sumPrice += Number(price[i].innerText) * Number(quantity[i].innerText)
      sumQuantity += Number(quantity[i].innerText)
    }
    totalPrice.innerHTML = `$ ${sumPrice}`
    totalQuantity.innerHTML = `x ${sumQuantity}`
  }

  function deleteOrder() {
    if (confirm("Are you sure delete the order?") === true) {
      const orderId = event.target.value
      const form = document.querySelector(`#order${orderId}`)
      form.action = `/orders/${orderId}?_method=DELETE`
      form.method = "POST"
      form.submit()
    }
  }

  function payment() {
    const orderId = event.target.value
    const form = document.querySelector(`#order${orderId}`)
    form.action = `/orders/${orderId}/payment`
    form.method = "GET"
    form.submit()
  }

</script>