<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/product.css">

<div class="wrap col-md-12">
  <div class="product col-md-8">
    <div class="picture">
      <img src="{{product.image}}" alt="無法顯示圖片，請聯絡管理員">
    </div>
    <div class="text">
      <div class="detail">
        <div class="name">{{product.name}}</div>
        <div class="price">$ {{product.price}}</div>
        <div class="description">{{product.description}}</div>
        <form action="/carts/{{product.id}}" method="POST">
          <div class="add-to-cart">
            <input type="hidden" id="vol" name="vol" value="1"/>
            <div class="vol">1</div>
            <div class="fa fa-plus-circle up"></div>
            <div class="fa fa-minus-circle down"></div>
            <div class="add">
              <button class="btn-secondary" type="submit">
                Add to Cart
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="cart col-md-4">

  </div>

</div>

<script>
  const volPanel = document.querySelector('.add-to-cart')
  volPanel.addEventListener("click", function (event) {
    if (event.target.matches(".fa-plus-circle") || event.target.matches(".fa-minus-circle")) {
      const volInput = document.querySelector('#vol')
      let volDiv = document.querySelector('.vol')
      let vol = Number(volDiv.innerHTML)
      if (event.target.matches(".fa-plus-circle")) {
        vol += 1
      } else {
        vol -= 1
        if (vol < 0) {
          vol = 0
        }
      }
      volDiv.innerHTML = vol
      volInput.value = vol
    }
  })
</script>